<%= hidden_field_tag :request_location, @request_location %>
<%= hidden_field_tag :get_location_callback, @location_callback %>
<div id="global-container" class="home-login">
	<div class="web">
		<br />
		<br />
		<br />
		<br />
	</div>
	<div id="homescreen" class="homescreen-web" style="background:#f8f8f8;">
		<!-- <div id="homescreen" class="mobile"> -->
		<p style="text-align: center; color:#45a4dc; font-size:14px; text-weight:bold;">
			Estamos recebendo sua localização, aguarde ...
		</p>
	</div>
</div>

<% if flash[:notice] == 'Usuário criado com sucesso' %>
	<%= google_adwords %>
<% end %>