<div id="main-container" class="scrollable view-profile-establishment">
  <div id="main" class="clearfix">
    <div class="wrapper">
      <header>
       <h1 class="static-title">Novo FAQ</h1>
      </header>
        <%= render 'form' %>

        <%= link_to 'Back', faqs_path %>
      <br />
      
    </div>
  </div>
</div>