</style>
<div id="main-container" class="scrollable internal view-shopping">
	<div id="main" class="clearfix">

		<article class="cupons">
			<%= render @cupons_list, :locals => { :list => true }  %>
		</article>

	</div> <!-- #main -->
</div> <!-- #main-container -->