</style>
<div id="main-container" class="scrollable internal view-shopping">
	<div id="main" class="clearfix">
		
		<article class="cupons">
			<%= render @cupons_list, :locals => { :list => true }  %>
		</article>
		
	</div> <!-- #main -->
</div> <!-- #main-container -->

	<!-- Convidar amigos -->
<!-- <div id="boxes">
	<div id="modal-amigo" class="window">
		<div class="wrapper">

			<h2>Convidar amigos</h2>
		
			<a href="#" class="close">Fechar [X]</a>
		
			<div class="content-container">
				<div class="loading"></div>
				<div class="content">
					<ul id="friends-added" class="friend-list">
						<li>
							<div class="avatar"><img src="/assets/trash/avatar-user-modal.jpg" alt=""></div>
							<p>Liliana Carvalho</p>
							<input type="checkbox" name="amigos[]" class="friend-check">
						</li>
					</ul>
					<div class="overflow footer">
						<a class="std-button fit bt-bigsize" href="#"><span>Convidar amigos</span></a>
					</div>
					
				</div>
			</div>


		</div>



</div>
<div id="mask" ontouchmove="blockMove(event)"></div>

</div> -->
