/*meu*/
/* =============================================================================
HTML5 Boilerplate CSS: h5bp.com/css
========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height: 100%; }
html, button, input, select, textarea {  font-family: Arial, Verdana, "Trebuchet MS", sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; max-height: 100%;  }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin:5px 10px; padding: 10px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; padding: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; border-radius: 3px; border: 1px solid #ccc; padding: 5px; border-bottom: 2px solid #c0c0c0}
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ===== Initializr Styles =====================================================
Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
========================================================================== */

html{
	font-size: 10px;
}

body{
	font-size: 12px;
	line-height: 1.6em;
	color:#000;
	font-family: Arial, Helvetica, "Helvetica Neue", Verdana;
}


body{
	background:url("/assets/images/simple_dashed.png") top left;
}

#title{ color:white; }

::-moz-selection { background: #f16529; color: #fff; text-shadow: none; }
::selection      { background: #f16529; color: #fff; text-shadow: none; }



/* ====================
HEADER:
==================== */
#header-container{
	display: block;
	vertical-align:middle;
	z-index:501;
	text-align:center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#024ea3), to(#0070ed));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #024ea3, #0070ed);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #024ea3, #0070ed);
	/* IE 10 */
	background: -ms-linear-gradient(top, #024ea3, #0070ed);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #024ea3, #0070ed);

	width: 		960px;
	padding:	0px;
}



#global-container{
	width: 960px;
	margin:0 auto;
}


#main-container{
	background: url("/assets/images/pattern.png") repeat scroll left top transparent;
	padding: 20px;
	width: 920px;
	display: table;
}


table.padraoTabela{
	width: 100%;
}
table.padraoTabela td{
	padding: 7px 14px;
	text-align: left;
	border: 1px solid #DADADA;
}

.padraoBtn{
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffb248), to(#ff871a));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #ffb248, #ff871a);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #ffb248, #ff871a);

	/* IE 10 */
	background: -ms-linear-gradient(top, #ffb248, #ff871a);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #ffb248, #ff871a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffb248', endColorstr='#ff871a');/*For IE7-8-9*/

	-webkit-border-radius: 	5px;
	-moz-border-radius:		5px;
	border-radius:			5px;

	-webkit-box-shadow: inset 0px -3px 1px 0px #ff640c,
	inset 0px -3px 0px 0px rgba(255, 115, 20, 1),
	0px  2px 3px 0px rgba(0, 0, 0, .3);

	-moz-box-shadow: 	inset 0px -3px 1px 0px #ff640c,
	inset 0px -3px 0px 0px rgba(255, 115, 20, 1),
	0px  2px 3px 0px rgba(0, 0, 0, .3);

	box-shadow: 		inset 0px -3px 1px 0px #ff640c,
	inset 0px -3px 0px 0px rgba(255, 115, 20, 1),
	0px  2px 3px 0px rgba(0, 0, 0, .3);

	padding:7px 8px;
	margin: 5px 0;
	text-align: center;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	border:none;

}


/*topo*/

#header-container header{
	height: 84px;
	position: relative;
	/*border-bottom: 4px solid #003979;*/
  background: #45A4DC;
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0070ec), to(#005bc1));
	/* Safari 5.1, Chrome 10+
	background: -webkit-linear-gradient(top, #0070ec, #005bc1);
	/* Firefox 3.6+
	background: -moz-linear-gradient(top, #0070ec, #005bc1);
	/* IE 10
	background: -ms-linear-gradient(top, #0070ec, #005bc1);
	/* Opera 11.10+
	background: -o-linear-gradient(top, #0070ec, #005bc1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0070ec', endColorstr='#005bc1');/*For IE7-8-9*/
}

.breadCrumb{
	text-align: left;
	height: 18px;
	padding: 8px 15px;
	border-top: solid 1px #66b2e8;
	border-left: solid 1px #66b2e8;
  background: #45A4DC;
	/*border-bottom: 4px solid #003979;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0070ec), to(#005bc1));*/
	/* Safari 5.1, Chrome 10+
	background: -webkit-linear-gradient(top, #0070ec, #005bc1);
	/* Firefox 3.6+
	background: -moz-linear-gradient(top, #0070ec, #005bc1);
	/* IE 10
	background: -ms-linear-gradient(top, #0070ec, #005bc1);
	/* Opera 11.10+
	background: -o-linear-gradient(top, #0070ec, #005bc1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0070ec', endColorstr='#005bc1');/*For IE7-8-9*/
}

#header-container .migalha{
	text-transform: uppercase;
	position: relative;
	font-family: arial;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	margin: 0 26px 0 0;
}
#header-container .migalha:after{
	position: absolute;
	right: -19px;
	top: -8px;
	width: 14px;
	background-image:url("/assets/images/separadorMigalha.png");
	height: 30px;
	content: '';
}
.breadCrumb a:last-child:after {display: none;}
#header-container .migalha-active, #header-container .migalha:hover{
	color: #ffbe39;
}

.top-home{
	display: block;
	width: 148px;
	height: 35px;
	position: absolute;
	top: 50%;
	left: 30px;
	margin-top:-17px;
	text-indent: -9999px;
	background-image: url("/assets/images/logoNowOn.png");
}

#header-container #title{
	padding: 8px;
	background: #0070ed;
	display: none;
}


#header-container #title.nowOn{
	text-transform: uppercase;
}

.areaTitulo{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: table;
	margin: 10px 0 25px;
	padding: 0 4px;
	width: 100%;
}
.areaTitulo h1{
	color: #0070ED;
	margin: 0 0 10px;
}
.iconeTitulo{

}
.areaTitulo .padraoBtn{
	float: right;
}

.btnTrue{
	float: right;
	width: 25px;
	height: 25px;
	background:url("/assets/images/spriteParceiro.png") no-repeat 0 0;
	text-indent: -9999px;
	display: inline-block;
	margin: 0 5px 0 0;
}
.btnTrue:hover{
	background:url("/assets/images/spriteParceiro.png") no-repeat -25px 0;
}

.btnTrueOn{
	background:url("/assets/images/spriteParceiro.png") no-repeat -25px 0;
}

.btnTrueAlwaysOn{
	float: right;
	width: 25px;
	height: 25px;
	background:url("/assets/images/spriteParceiro.png") no-repeat -25px 0;
	text-indent: -9999px;
	display: inline-block;
	margin: 19px 5px 0 0;
	border: none;
}

.btnFalseAlwaysOn{
	float: right;
	width: 25px;
	height: 25px;
	background:url("/assets/images/spriteParceiro.png") no-repeat -25px -25px;
	text-indent: -9999px;
	display: inline-block;
	margin: 19px 5px 0 0;
	border: none;
}

.btnFalse{
	float: right;
	width: 25px;
	height: 25px;
	background:url("/assets/images/spriteParceiro.png") no-repeat 0 -25px;
	text-indent: -9999px;
	display: inline-block;
}
.btnFalse:hover{
	background:url("/assets/images/spriteParceiro.png") no-repeat -25px -25px;
}

.btnFalseNova{
	float: right;
	width: 15px;
	height: 15px;
	background:url("/assets/images/excluir-produto.png") no-repeat -15px 0;
	text-indent: -9999px;
	display: inline-block;
}
.btnFalseNova:hover{
	background:url("/assets/images/excluir-produto.png") no-repeat 0 0;
}

.textoDescricao{
	padding: 5px 0 0;
	margin: 0;
	color: #888;
	font-weight: bold;
}

.subTituloBoxPadrao{
	font-size: 14px;
	margin: 10px 0;
}
.boxPadrao{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0 5px 20px 5px;
	border:solid 1px #dadada;
	background: #fff;
	width: 100%;
}
.titBoxPadrao{
	background: none repeat scroll 0 0 #E8E8E8;
	color: #0070ED;
	font-family: arial;
	font-size: 14px;
	margin: 0;
	padding: 9px 11px;
	border-bottom:solid 1px #dadada;
}
.boxPadrao.tam1{
	width: 510px;
}
.boxPadrao.tam2{
	width: 382px;
}
.boxPadrao.duplo{
	width: 890px;
}
.containerBoxPadrao{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: table;
	padding: 10px;
	width: 100%;
}

/************************************************************************************
MENU
************************************************************************************/
.counter .count:before
{
	background-image:url("..//assets/images/mobile/sprite.png");
}

.web-menu .bt-web-menu:after
{
	background-image:url("/assets/images/icones-menu-parceiros.png");
	background-repeat: no-repeat;
}

.web-menu{
	float:right;
	margin:0;
	margin-top: -4px;
	margin-bottom: 	-4px;
	padding:0;
}
.web-menu .bt-web-menu:hover{
	color:#FFBE39;
}
.web-menu .bt-web-menu:active{
	color:#FFBE39;
}
.web-menu .mn-item{
	list-style-type:none;
	display: inline-block;
	position: relative;
	height: 84px;
	padding-bottom:4px;

}
.web-menu .mn-item .web-sub-menu{
	position:	absolute;
	display: 	none;
	background: #004696;
	top:		74px;
	width:	120px;
	list-style-type: none;
	text-align: left;
	z-index: 2;
}

.mn-item:hover .web-sub-menu, .sub-menu a:hover .web-sub-menu{
	display:block;
	margin: 14px 0px 0px 0px;
}

.web-menu .mn-item .web-sub-menu a{
	color:	#fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 10px;

	display: block;
}

.web-menu .mn-item .web-sub-menu a:hover{
	/*color:	#ff9933;*/
}

.web-menu .bt-web-menu{
	border-top: 4px solid transparent;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 14px;
	margin: 0;
	min-height: 25px;
	padding: 42px 20px 8px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
}

.web-menu .mn-item .web-sub-menu:after,
.web-menu .mn-item .bt-web-menu:hover{
	border-top:	4px #ff9933 solid;
}

.web-menu .mn-item .bt-web-menu:after{
	position: absolute;
	content: "";
	display: block;
	top:	12px;
	left:	50%;
	width:	40px;
	height: 28px;
	margin-left: -20px;
}

.web-menu .parceiros:after{ 	background-position:	10px -30px;}
.web-menu .ofertas:after{	 	background-position:	-81px -30px;}
.web-menu .cardapio:after{ 		background-position:	-170px	-30px;}
.web-menu .perfil:after{ 		background-position:	-288px	-30px;}

.web-menu .parceiros:hover:after{ 		background-position:	10px 0;}
.web-menu .ofertas:hover:after{	 		background-position:	-81px 0;}
.web-menu .cardapio:hover:after{ 		background-position:	-170px 0;}
.web-menu .perfil:hover:after{ 		background-position:	-288px 0;}

/*****Area Parceiros****/
.col1Parceiro{
	float: left;
	margin: 0 10px 0 0;
	width: 507px;
}
.col2Parceiro{
	float: left;
	width: 394px;
}



/************Pagina Painel**********/

.validarCupons{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid #BDBDBD;
	color: #000;
	font-size: 14px;
	margin: 15px 10px;
	padding: 6px;
	width: 415px;
}
.itemCupom{
	border-top: 1px solid #DEDEDE;
	padding: 10px;
}
.itemCupom .idCupom{
	float: left;
	font-size: 13px;
	width: 82px;
	font-weight: bold;
}

.itemCupom .nome{
	float: left;
	font-size: 13px;
	padding: 0 10px 0 0;
	width: 216px;
	font-weight: bold;
}

.itemCupom .valorCupom{
	float: left;
	width: 80px;
	font-size: 12px;
}

.itemCupom .infoCupom{
	clear: both;
	font-size: 13px;
	margin: 0;
	padding: 6px 0;
}
.infoCupom a {
	text-decoration: none;
}
	.infoCupom a:visited,
	.infoCupom a:active{
		color: #0070ED;
	}
.itemCupomValidado{
	background: #f8f8f8;
	opacity: 0.5;
}

.itemNoticia{
	display: table;
	margin: 0 0 13px;
}
.metaDadosNoticias{
	float: left;
	font-size: 14px;
	margin: 0 10px 0 0;
	width: 76px;
}
.dataNoticia, .horarioNoticia{
	font-weight: bold;
}

.txtNoticia{
	float: left;
	width:389px;
}

.programa{
	display: table;
	padding: 10px;
}
.boxDataPrograma{
	display: table;
	float: left;
	width: 50px;
	margin: 0 10px 0 0;
}
.boxDataPrograma .data{
	position: relative;
	background: #999999;

}
.boxDataPrograma .data.hoje{
	background: #0070ED;
}
.boxDataPrograma .data.hoje:before{
	border-bottom: 2px solid #FFFFFF;
	color: #FFFFFF;
	content: "HOJE";
	display: block;
	font-size: 9px;
	font-weight: bold;
	position: relative;
	text-align: center;
}
.boxDataPrograma .diaSemana{
	color: #FFFFFF;
	font-weight: bold;
	margin: 0;
	padding: 4px 0 0;
	text-align: center;
	text-transform: uppercase;
}
.boxDataPrograma .diaMes{
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	padding: 2px 0 4px;
	text-align: center;
}
.boxInfoPrograma{
	border: 1px solid #DEDEDE;
	float: left;
	padding: 10px;
	width: 289px;
}
.descPrograma{
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 6px;
	color: #0000FF;
}

.descProgramaDesativada{
	color: #333;
}

.horarioPrograma{
	float: left;
	margin: 0 15px 0 0;
	position: relative;
	padding: 0 0 0 19px;
}
.horarioPrograma:before{
	background:url("/assets/images/spriteParceiro.png") no-repeat -50px 0;
	content: "";
	height: 15px;
	left: 0;
	position: absolute;
	top: 3px;
	width: 15px;
}
.programasVendidos{
	float: left;
	margin:0;
	position: relative;
	padding: 0 0 0 19px;
}
.programasVendidos:before{
	background:url("/assets/images/spriteParceiro.png") no-repeat -65px 0;
	content: "";
	height: 15px;
	left: 0;
	position: absolute;
	top: 3px;
	width: 15px;
}
.btnsPrograma{
	text-align: right;
}
.confirmacaoPrograma{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: none repeat scroll 0 0 #FFFF99;
	border: 1px solid #DEDEDE;
	display: table;
	margin: 0 0 10px;
	padding: 6px;
	width: 310px;
	float: left;
}
.confirmacaoPrograma .padraoBtn{
	padding: 2px 7px;
	float: right;
	margin: 0 0 0 4px;
}
.textoConfirmacao{
	float: left;
	line-height: 21px;
	width: 191px;
}

/**********Perfil*************/
.col1Perfil{
	margin:0 10px 0 0;
}
.col1Perfil, .col2Perfil{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
	width: 455px;
}
.tabelaPerfil input[type='checkbox']{
	float: left;
	margin: 2px 6px 0 0;
}
.tabelaPerfil td{
	width: 50%;
}
.tabelaPerfil label{

}
.tabelaRedeSociais{
	width: 100%;
	margin: 13px 0;
}
.tabelaRedeSociais td{
	padding: 4px 10px;
	text-align: left;
	vertical-align: middle;
}
.tabelaRedeSociais .rotuloRedeSocial{
	text-align: right;
	font-weight: bold;
}
.tabelaRedeSociais .nomeRedeSocial{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 6px;
	width: 100%;
}
.listaFotos{
	display: table;
	margin: 0;
	padding: 0;
}
.listaFotos li{
	float: left;
	list-style-type: none;
	margin: 20px 9px 0;
}
.boxFotosPerfil{
	width: 110px;
	height: 80px;
	overflow: hidden;
	margin: 0 0 7px;
}
.boxFotosPerfil img{
	width: 110px;
}
.formCadastroPerfil{

}
.formCadastroPerfil label{
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin: 0 10px 0 0;
	text-align: right;
	width: 172px;
}
.formCadastroPerfil .itemcadastro{
	margin: 0 0 16px;
	position: relative;
	display: table;
}
.formCadastroPerfil input{
	padding: 4px;
	width: 160px;
}
.formCadastroPerfil textarea{
	height: 59px;
	resize: none;
	width: 264px;
	margin-bottom: 6px;
}
.col1CadPerfil, .col2CadPerfil{
	float: left;
	margin:47px 0 28px 6px;
}
.boxLogoPerfil{
	width: 90px;
	height: 90px;
	overflow: hidden;
	float: left;
}
.boxLogoPerfil img{
	width:90px;
}
.containerLogoPerfil{
	float: left;
	width: 210px;
}
.formCadastroPerfil #file{
	opacity:0;
	-moz-opacity:0;
	filter:alpha(opacity:0);
	float: left;
	height: 36px;
	margin: 0 0 0 103px;
	position: relative;
	top: -95px;
	width: 102px;
	cursor: pointer;

}
.formCadastroPerfil .falsoUpload{
	float: left;
	height: 21px;
	margin: 0 0 0 16px;
	position: relative;
	width: 86px;
	cursor: pointer;
	display: block;
}
.formCadastroPerfil label.error{
	bottom: -16px;
	color: red;
	float: none;
	font-size: 10px;
	margin: 0;
	position: absolute;
	right: 0;
}
.formCadastroPerfil input.error, .formCadastroPerfil textarea.error, .formCadastroPerfil select.error{
	border:solid 1px red;
}
.formCadastroPerfil select{
	height: 23px;
	width: 170px;
}



/* OFERTAS - MAIN */
.logoTitulo{
	float: left;
	margin-right: 10px;
	border-radius: 5px;
}

.infoTitulo{
	font-size: 13px;
	color: #000;
}

.noBorderPadding{
	border-top: 0;
	padding: 0;
}

.col1Oferta{
	width: 320px;
}

.col2Oferta{
	width: 590px;
}

.col2Oferta .padraoBtn{
	margin: 0 0 10px 10px;
}

.itemCupom .infoOferta{
	padding: 10px 15px;
	font-size: 14px;
	font-weight: bold;
	color: #0000ff;
}
.infoCupom a {
	text-decoration: none;
}
.iconTempo{
	background: url("/assets/images/time.png") no-repeat left 9px;
	display: block;
	padding:10px 0 0 20px;
	font-size: 12px;
	font-weight: normal;
	color: #000;
}

.listOfertaInfo{
	display: table;
	margin: 0 0 7px;
}

.listOfertaInfo li{
	display: block;
	float: left;
	list-style-type: none;
	width: 260px;
	margin-right: 10px;
}

.listOfertaInfo li span{
	display: block;
	width: 175px;
	float: left;
	font-weight: bold;
}

.listOfertaInfo li span.ofertaAtivadaStatus{
	font-weight: bold;
	color: green;
	width: auto;
}

.listOfertaInfo li span.ofertaDesativadaStatus{
	font-weight: bold;
	color: red;
	width: auto;
}
/***********PAGINA NOVA OFERTA************/

.col1NovaOferta{
	float: left;
	margin: 0 10px 0 0;
	width: 575px;
}
.col2NovaOferta{
	float: left;
	width: 321px;
	position: relative;
}
.boxControleScroll{
	width: 321px;
}

.boxNovaOferta label{
	margin: 0 20px 0 5px;
}
.tabelaNovaOferta{
	margin: 20px 0;
	width: 100%;
}
.tabelaNovaOferta td{
	padding: 3px 16px 3px 0;
	text-align: left;
	vertical-align: middle;
}
.tabelaNovaOferta th{
	font-size: 14px;
	text-align: left;
}

.tabelaNovaOferta tr:nth-child(2n+1) td{
	background-color: #f8f8f8;
}

.tabelaNovaOferta tr:nth-child(2n) td{
	background-color: #f0f0f0;
}

.tabelaNovaOferta tr td.qtde-nova-oferta, .tabelaNovaOferta tr td.preco-nova-oferta{
	text-align: right;
}

.tabelaResumoOferta{
	font-size: 14px;
	text-align: left;
	width: 50%;
	margin-top: 10px;
}



.tabelaResumoOferta tr td{
	text-align: right;
}

.tabelaResumoOferta.opcaoCredito{
	margin: 22px 0;
	text-align: right;
	width: auto;
}
.tabelaResumoOferta th{
	font-size: 14px;
}
.tabelaResumoOferta td{
	padding: 5px 10px;
	width: 142px;
}
#destaqueoferta{
	height: 80px;
	resize: none;
	width: 98%;
}
#txtdestaqueoferta{
	line-height: 13px;
}

#addFoto{
	cursor: pointer;
	height: 36px;
	left: -105px;
	margin: 0;
	opacity: 0;
	position: relative;
	top: 3px;
	width: 102px;
}
.boxcondicoes label{
	display: block;
	margin: 20px 0 0;
}
.boxdataInicioOferta{
	float: left;
	margin: 0 20px 0 0;
	width: 186px;
}
.boxHorarioOferta{
	float: left;
}
.boxHorarioOferta select{
	height: 29px;
	width: 60px;
}
.boxHorarioOferta span{
	padding: 0 10px;
}
.boxDiasSemanaOferta{
	float: left;
	margin: 17px 0 10px;
}
.boxDiasSemanaOferta label{
	padding: 0 28px 0 0;
}
.boxImagemOferta{
	width: 320px;
	height:78px;
	overflow: hidden;
}
.boxImagemOferta img{
	width: 320px;
}
.resumoDataHorario{
	margin:10px 0;
	background-position: left 10px;
	border-top: 1px solid #ccc;
}
.boxDescOferta ul{
	margin: 0 0 0 15px;
	padding: 0;
}
.btnSalvarNovaOferta{
	margin: 0 0 0 6px;
	width: 304px;
}
.col2NovaOferta .boxPadrao{
	margin:0 5px 5px 5px;
}
.itemListaProduto{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-bottom: 1px solid #DEDEDE;
	display: table;
	padding: 3px 10px 0px 10px;
	width: 100%;
	border: 1px solid #FFFFFF;
}
.itemListaProduto.incluido{
	background: #D9D9D9;
}
.itemListaProduto.incluido .btnAdicionarProduto{
	cursor: default;
}
.itemListaProduto .nomeProduto{
	font-size: 14px;
	font-weight: bold;
	margin: 6px 0 0 0;
}
.itemListaProduto .precoProduto{
	margin: 0 0 2px 0;
}
.itemListaProduto .btnAdicionarProduto{
	float: right;
}
.infoListaProduto{
	float: left;
}
#listaProdutos{
	margin: 0 auto 20px;
}
.areaCreditos, .areaProdutos{
	display: none;
}
.adicaoSucesso{
	background: #90EE90;
	border: 1px dashed green;
	font-weight: bold;
	left: 0;
	padding: 10px 0;
	position: absolute;
	text-align: center;
	top: 39px;
	width: 100%;
	display:none;
}
.adicaoFalha{
	background: #FF0033;
	border: 1px dashed green;
	font-weight: bold;
	left: 0;
	padding: 10px 0;
	position: absolute;
	text-align: center;
	top: 39px;
	width: 100%;
	display:none;
}

#txtLimiteCupom,
#txtLimitePessoas,
#txtBebidasAlcoolicas{
	display: none;
}
.resultadoInfoOferta{
	color: #0000FF;
	font-size: 14px;
	font-weight: bold;
}

.boxImagemVazia{
	background: #f0f0f0;
	width: 319px;
	height: 78px;
	position: relative;
}

.boxImagemVazia:after{
	content: "Imagem";
	font: 12px Arial, Helvetica, sans-serif;
	color: #999;
	text-align: center;
	padding-top:30px;
	display: block;
}

.introOferta{
	color: #888;
	margin:10px 0 10px 0;
}

/*********CARDAPIO**********/
.btnsCardapio{
	margin:0 0 0 10px;
}
.introCardapio{
	margin:0 0 20px 0;
}
.itemCardapio{
	border: 1px solid #999999;
	display: table;
	margin: 0 0 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-shadow:	0px 0px 2px 3px rgba(0, 0, 0, .1);
	-moz-box-shadow: 	0px 0px 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 		0px 0px 2px 3px rgba(0, 0, 0, .1);
	background-color: #EEEEEE;
	color: #0070ED;
	font-size: 14px;
	font-weight: bold;
}

.itemCardapio.abertoSelect, .subItemCardapio.abertoSelect{
	background: #fff;
	color: orange;
}

.subItemCardapio{
	border: 1px solid #999999;
	display: table;
	margin: 0 10px 10px;
	width: 98%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-shadow:	0px 0px 2px 3px rgba(0, 0, 0, .1);
	-moz-box-shadow: 	0px 0px 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 		0px 0px 2px 3px rgba(0, 0, 0, .1);
	background-color: #EEEEEE;
	font-size: 14px;
	display: none;
	overflow: hidden;
}

.nomeItemCardapio{
	float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    padding: 10px;
    width: 677px;
    cursor: pointer;
}
.nomeItemCardapioInterno{
	float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    width: 677px;
}
.controleItemCardapio2{
	margin: 0 10px 0 0;
}
.controleItemCardapio{
	float: right;
	margin: 0 10px 0 0;
}
.infoItemCardapio{
	border: 1px solid #999999;
	display: table;
	margin: 0 10px 10px;
	padding: 10px;
	width: 98%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-shadow:	0px 0px 2px 3px rgba(0, 0, 0, .1);
	-moz-box-shadow: 	0px 0px 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 		0px 0px 2px 3px rgba(0, 0, 0, .1);
	background-color: #fff;
	font-size: 14px;
	display: none;
}
.txtitemCardapio{
	clear: both;
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}
.itemCardapio .btnTrue, .subItemCardapio .btnTrue{
	margin:11px 10px 0 10px;
}
.valorItemCardapio{
	float: right;
}
.controleGeralCardapio{
	text-align: right;
	margin: 10px 0 0;
}
.setaDrop{
	float: right;
    height: 19px;
    margin: 14px 9px;
    text-indent: -9999px;
    width: 18px;
	background: url("/assets/images/spriteParceiro.png") no-repeat 0 -52px;
	cursor: pointer;
}
.setaDrop.aberto{
	background: url("/assets/images/spriteParceiro.png") no-repeat -18px -52px;
}

/****************NOVO PRODUTO CARDAPIO*****************/
.introNovoProduto{
	margin: 0 0 20px 5px;
}
.itemCadastroNovoProduto{
	display: table;
	margin: 0 0 16px;
}
.formNovoProduto{
	margin: 20px auto;
	width: 570px;
}
.formNovoProduto label{
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin: 0 10px 0 0;
	text-align: right;
	width: 183px;
	line-height: 18px;
}
.formNovoProduto input{
	height: 21px;
	width: 226px;
}
.formNovoProduto select{
	float: left;
	height: 26px;
	margin: 0 10px 0 0;
	width: 233px;
}
#descricaoCardapio{
	height: 75px;
	resize: none;
	width: 225px;
}
.formNovoProduto .btnSalvarNovoProduto{
	margin: 0 0 0 323px;
	width: 86px;
}
.formNovoProduto .btnAddItem{
	height: 13px;
	margin: 0;
	padding: 5px 10px 10px;
}
#novaCategoria{
	margin: 0 auto 20px;
}
.introNovaCategoria{
	margin:20px 20px 20px 20px;
}
.itemCadastroNovaCategoria {
	display: table;
	margin: 0 0 16px;
}
.formNovaCategoria {
	margin: 20px auto;
	width: 570px;
}
.formNovaCategoria label{
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin: 0 10px 0 0;
	text-align: right;
	width: 183px;
	line-height: 18px;
}
.formNovaCategoria input{
	height: 21px;
	width: 226px;
}
.formNovaCategoria .btnSalvarNovaCategoria{
	margin: 0 0 0 323px;
	width: 86px;
}


/*** BIG ICONS ***/



.establishment-icon{
	display:inline-block;
	width:	40px;
	height:	40px;
	position: relative;
	margin:0 13px 0 0;

	-moz-border-radius:		19px;
	-webkit-border-radius: 	19px;
	border-radius:	20px;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffab2b), to(#ff851d));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #ffab2b, #ff851d);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #ffab2b, #ff851d);
	/* IE 10 */
	background: -ms-linear-gradient(top, #ffab2b, #ff851d);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #ffab2b, #ff851d);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffab2b', endColorstr='#ff851d');/*For IE7-8-9*/

	vertical-align: middle;
}

.areaTitulo .establishment-icon:after{
	background-image: url("/assets/images/spriteParceiro.png");
	content: "";
	display: inline-block;
	height: 40px;
	left: 6px;
	position: absolute;
	top: 0;
	width: 29px;
}

.establishment-icon.arabe:after				{	background-position:	-462px	-132px;}
.establishment-icon.baiana:after			{	background-position:	-523px	-29px;}
.establishment-icon.bar:after				{	background-position:	-398px	-28px;}
.establishment-icon.brasileira:after		{	background-position:	-396px	-133px;}
.establishment-icon.carnes:after			{	background-position:	-329px	-308px;}
.establishment-icon.cafeteria:after			{	background-position:	-330px	-203px;}
.establishment-icon.cervejaria:after		{	background-position:	-330px	-132px;}
.establishment-icon.chines:after			{	background-position:	-395px	-98px;}
.establishment-icon.churrascaria:after 		{	background-position: 	-462px	7px;}
.establishment-icon.contemporaneo:after		{	background-position: 	-462px	-238px}
.establishment-icon.creperia:after			{	background-position: 	-462px	-204px;}
.establishment-icon.espetinho:after			{	background-position: 	-462px	-97px;}
.establishment-icon.frances:after			{	background-position: 	-332px	-28px;}
.establishment-icon.frutos-do-mar:after		{	background-position: 	-396px	-238px;}
.establishment-icon.havaiano:after			{	background-position: 	-463px	-308px;}
.establishment-icon.iogurteria:after		{	background-position: 	-329px	-239px;}
.establishment-icon.indiano:after			{	background-position: 	-523px	8px;}
.establishment-icon.italiano:after			{	background-position: 	-396px	-63px;}
.establishment-icon.japones:after			{	background-position: 	-395px	-204px;}
.establishment-icon.mediterraneo:after		{	background-position: 	-460px	-61px;}
.establishment-icon.mexicano:after			{	background-position: 	-398px	-308px;}
.establishment-icon.mineira:after			{	background-position: 	-330px	-169px;}
.establishment-icon.natural:after			{	background-position: 	-330px	-275px;}
.establishment-icon.pastelaria:after		{	background-position: 	-462px	-168px;}
.establishment-icon.peruano:after			{	background-position: 	-463px	-271px;}
.establishment-icon.pizzaria:after			{	background-position:	-331px	-61px;}
.establishment-icon.pub:after				{	background-position: 	-397px	7px;}
.establishment-icon.risoto:after			{	background-position: 	-329px -338px;}
.establishment-icon.sanduiche:after			{	background-position:	-333px	8px;}
.establishment-icon.self-service:after		{	background-position: 	-399px	-273px;}
.establishment-icon.sorveteria:after		{	background-position: 	-331px	-98px;}
.establishment-icon.tailandes:after			{	background-position: 	-396px	-169px;}
.establishment-icon.temakeria:after			{	background-position: 	-460px	-28px;}

.limitadorTitulo{
	float: left;
	width: 500px;
}

.push-tab{
	text-decoration: none;
	position: relative;
}
.valorOfertaCredito{
	width: 70%;
	text-align: right;
}

.counter{
	overflow:	hidden;
	margin:		2px 0px;
	padding:	0px;
}

.counter li{
	position: relative;
	float:left;
	list-style-type: disc;
	margin-left:15px;
	padding: 2px 8px 2px 0px;
	font-size: 1.3em;
	color:	#999;

}

.counter .count{
	list-style-type: none;
	padding: 2px 8px 2px 16px;
	margin-left:3px;
	font-size: 13px;
}

.view-profile-establishment .counter li:last-child{
	clear:	both;
}

/*.explore-list .count.recommend-menu:before,
.explore-list .count.recommend-establishment:before,
.explore-list .count.wish-menu:before*/
.counter.small .count:before{
	width:	15px;
	height:	15px;
	left:	0px;
	top:	50%;
	margin-top:	-8px;
}

.counter.medium .count:before{
	width:	17px;
	height:	17px;
	left:	0px;
	top:	50%;
	margin-top:	-10px;
}

.counter.small .count.recommend-menu:before{	background-position: -78px -187px;	}

.counter.small .count.wish-menu:before{	background-position: -78px -200px;	}

.counter.small .count:before{
	display:	block;
	position:	absolute;
	content:	"";
	width:	15px;
	height:	15px;
}

.arabe:after			{	background-position:	-487px	-141px;	}
.baiana:after			{	background-position:	-547px	-36px;	}
.bar:after				{	background-position:	-423px	-37px;	}
.brasileira:after		{	background-position:	-424px	-141px;	}
.carnes:after			{	background-position:	-357px	-316px;	}
.cafeteria:after		{	background-position:	-358px	-211px;	}
.cervejaria:after		{	background-position:	-357px	-141px;	}
.chines:after			{	background-position:	-423px	-106px;	}
.churrascaria:after		{	background-position: 	-487px	0px;	}
.contemporaneo:after	{	background-position: 	-487px	-246px	}
.creperia:after			{	background-position: 	-487px	-211px;	}
.espetinho:after		{	background-position: 	-487px	-106px;	}
.frances:after			{	background-position: 	-358px	-36px;	}
.frutos-do-mar:after	{	background-position: 	-424px	-246px;	}
.havaiano:after			{	background-position: 	-487px	-316px;	}
.iogurteria:after		{	background-position: 	-357px	-247px;	}
.indiano:after			{	background-position: 	-548px	-1px;	}
.italiano:after			{	background-position: 	-423px	-71px;	}
.japones:after			{	background-position: 	-423px	-211px;	}
.mediterraneo:after		{	background-position: 	-487px	-70px;	}
.mexicano:after			{	background-position: 	-424px	-316px;	}
.mineira:after			{	background-position: 	-357px	-176px;	}
.natural:after			{	background-position: 	-358px	-281px;	}
.pastelaria:after		{	background-position: 	-487px	-175px;	}
.peruano:after			{	background-position: 	-487px	-281px;	}
.pizzaria:after			{	background-position:	-358px	-70px;	}
.pub:after				{	background-position: 	-423px	-1px;	}
.risoto:after			{	background-position:	-355px	-345px;	}
.sanduiche:after		{	background-position:	-358px	0px;	}
.self-service:after		{	background-position: 	-423px	-281px;	}
.sorveteria:after		{	background-position: 	-357px	-106px;	}
.tailandes:after		{	background-position: 	-423px	-176px;	}
.temakeria:after		{	background-position: 	-488px	-36px;	}

.wish:after				{	background-position: 	-82px	-235px;	}
.buy-ticket:after		{
	width: 16px;
	height: 16px;
	background-position: 	0px	-236px;
}

.counter.small .count.temakeria:before {
    background-position: -510px -40px;
}

/* =============================================================================
Non-Semantic Helper Classes
========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.datepicker{width:170px;}
