<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie7 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>


    <link type="text/css" rel="stylesheet" media="screen" href="/assets/stylesheets/normalize.min.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">

 <!-- <link rel="stylesheet" href="../hotsite/css/normalize.min.css">
    <link rel="stylesheet" href="../hotsite/css/main.css"> -->

    <title>NowOn - Colecione sabores</title>
</head>
<body>
    <!-- Facebook plugin -->
    <div id="fb-root"></div>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
            <![endif]-->

            <div class="wrapper-border"></div>
            <div class="wrapper">
                <header>
                    <div class="iphone">

                    </div>
                    <div class="header-right">
                        <h1>NowOn - Colecione sabores</h1>
                        <h2>Encontre os pontos mais gostosos<br> da cidade com <span>vantagens exclusivas</span>.</h2>
                        <a href="/signin" class="btn btn-comece-agora" title="Comece agora"><span>Comece agora</span></a>
                        <div class="fb-like" data-href="http://www.facebook.com/nowonbrasil" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div>
                    </div>

                    <span class="icon-header icon-pimenta"></span>
                    <span class="icon-header icon-cafe"></span>
                    <span class="icon-header icon-queijo"></span>
                    <span class="icon-header icon-pimenta-menor"></span>
                    <span class="icon-header icon-carne"></span>
                    <span class="icon-header icon-chopp"></span>
                    <span class="icon-header icon-sopa"></span>
                </header>
            </div>

            <section class="video-container">
                <div class="wrapper">
                    <h3>Vantagens de abrir o apetite</h3>
                    <div class="content-video">
                        <iframe width="940" height="530" src="http://player.vimeo.com/video/53675501?badge=0&title=0&portrait=0&color=FF9B25" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </section>

            <section class="description-app">
                <div class="wrapper">
                    <div class="onde-estiver">
                        <h4>Onde <span>estiver</span></h4>
                        <p>Saiba quais são as oportunidades disponíveis, adquira seu voucher e use agora, na hora da sua fome.</p>

                        <em>Fique de olho no que acontece perto de você</em>
                    </div>

                    <div class="box-icon">
                        <h4>QUANDO <span>QUISER</span></h4>
                        <p>Usufrua do seu voucher na hora! <br>Sem validação de oferta nem reserva.</p>
                    </div>

                    <div class="box-icon icon-ofertas">
                        <h4><span>OFERTAS</span> sem sorteio</h4>
                        <p>Acesse, escolha aonde ir, adquira um voucher<br> e o desconto é seu!</p>
                    </div>

                    <div class="box-icon icon-indicacoes">
                        <h4><span>INDICAÇÕES</span> FRESQUINHAS</h4>
                        <p>Conte com as recomendações dos amigos e compartilhe com eles as boas experiências.</p>
                    </div>

                    <div class="clear"></div>

                    <div class="dica-amigo">
                        <h4><span>DICA DE</span> AMIGO</h4>
                        <p>Siga seus amigos, conheça os produtos e lugares que eles recomendam e acompanhe as novidades dos seus lugares preferidos.</p>
                    </div>

                    <div class="box-icon icon-completo">
                        <h4><span>CARDÁPIO</span> COMPLETO</h4>
                        <p>Tenha em mãos o menu completo e detalhado <br>dos melhores estabelecimentos da cidade.</p>
                    </div>

                    <div class="box-icon icon-trofeu">
                        <h4><span>COLEÇÃO</span> <b>DE</b> SABORES</h4>
                        <p>Além de boas experiências e novos sabores, colecione badges e, principalmente, vantagens<br> em ser NowOn.</p>
                    </div>

                    <div class="box-icon-slider">
                        <!-- <a href="javascript:;" class="seta-esquerda"></a> -->
                        <div class="slides">
                            <ul class="slides_container">
                                <li>
                                    <img src="/assets/images/badges/1.png" alt="Badge" width="131" height="130">
                                    <p>Colecionador brasuca </p>
                                </li>

                                <li>
                                    <img src="/assets/images/badges/2.png" alt="Badge" width="131" height="130">
                                    <p>Colecionador apressado </p>
                                </li>

                                <li>
                                    <img src="/assets/images/badges/3.png" alt="Badge" width="131" height="130">
                                    <p>Colecionador de brindes </p>
                                </li>

                                <li>
                                    <img src="/assets/images/badges/4.png" alt="Badge" width="131" height="130">
                                    <p>Colecionador carne ou queijo </p>
                                </li>

                                <li>
                                    <img src="/assets/images/badges/5.png" alt="Badge" width="131" height="130">
                                    <p>Colecionador de desejos </p>
                                </li>

                                <li>
                                    <img src="/assets/images/badges/6.png" alt="Badge" width="131" height="130">
                                    <p>Colecionador ébrio </p>
                                </li>

                                <li>
                                    <img src="/assets/images/badges/7.png" alt="Badge" width="131" height="130">
                                    <p>Colecionador de fatias </p>
                                </li>

                                <li>
                                    <img src="/assets/images/badges/8.png" alt="Badge" width="131" height="130">
                                    <p>Colecionador gourmand </p>
                                </li>

                            </ul>
                        </div>
                        <!-- <a href="javascript:;" class="seta-direita"></a> -->
                    </div>

                    <div class="clear"></div>

                    <div class="quem-aderiu">
                        <h5>Quem já aderiu</h5>
                        <div class="slides">
                            <div class="slides_container">
                                <ul>
                                    <li>
                                        <img src="/assets/images/logos/1.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/2.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/3.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li class="last">
                                        <img src="/assets/images/logos/4.png" alt="Profile" width="100" height="100">
                                    </li>

                                </ul>
                                <ul>
                                    <li>
                                        <img src="/assets/images/logos/5.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/6.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/7.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li class="last">
                                        <img src="/assets/images/logos/8.png" alt="Profile" width="100" height="100">
                                    </li>

                                </ul>
                                <ul>
                                    <li>
                                        <img src="/assets/images/logos/9.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/10.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/11.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li class="last">
                                        <img src="/assets/images/logos/12.png" alt="Profile" width="100" height="100">
                                    </li>

                                </ul>
                                <ul>
                                    <li>
                                        <img src="/assets/images/logos/13.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/14.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/15.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li class="last">
                                        <img src="/assets/images/logos/16.png" alt="Profile" width="100" height="100">
                                    </li>

                                </ul>
                                <ul>
                                    <li>
                                        <img src="/assets/images/logos/17.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/18.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/19.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li class="last">
                                        <img src="/assets/images/logos/20.png" alt="Profile" width="100" height="100">
                                    </li>

                                </ul>
                                <ul>
                                    <li>
                                        <img src="/assets/images/logos/21.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/22.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/23.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li class="last">
                                        <img src="/assets/images/logos/24.png" alt="Profile" width="100" height="100">
                                    </li>

                                </ul>
                                <ul>
                                    <li>
                                        <img src="/assets/images/logos/25.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/26.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/27.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li class="last">
                                        <img src="/assets/images/logos/28.png" alt="Profile" width="100" height="100">
                                    </li>

                                </ul>
                                <ul>
                                    <li>
                                        <img src="/assets/images/logos/29.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/30.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/31.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li class="last">
                                        <img src="/assets/images/logos/32.png" alt="Profile" width="100" height="100">
                                    </li>

                                </ul>
                                <ul>
                                    <li>
                                        <img src="/assets/images/logos/33.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/34.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/35.png" alt="Profile" width="100" height="100">
                                    </li>

                                    <li class="last">
                                        <img src="/assets/images/logos/36.png" alt="Profile" width="100" height="100">
                                    </li>

                                </ul>



                            </div>
                        </div>

                    <!-- <ul class="bullet-slider">
                        <li><a href="javascript:;"></a></li>
                        <li><a href="javascript:;"></a></li>
                        <li><a href="javascript:;"></a></li>
                    </ul> -->
                </div>

                <div class="simples-pratico">
                    <h4>SIMPLES, PRÁTICO E FUNCIONAL</h4>
                    <ul>
                        <li>
                            <img src="/assets/images/iphone-menor.png" alt="iPhone" width="119" height="228">
                            <h5>iphone</h5>
                            <p>Acesse o site www.nowon.com.br, adicione o webapp NowOn
                                em sua home screen e pronto! <br><br>

                                Faça o login pelo Facebook ou cadastre-se gratuitamente, pesquise por lugares próximos, categorias ou os mais populares. <br><br>

                                Confira as melhores oportunidades
                                e aproveite na hora!</p>
                            </li>
                            <li class="meio">
                                <img src="/assets/images/android-menor.png" alt="Android" width="118" height="230">
                                <h5>android</h5>
                                <p>Pelo seu navegador favorito, acesse o site www.nowon.com.br.<br><br>

                                    Faça o login pelo Facebook ou cadastre-se gratuitamente. <br><br>

                                    Não se esqueça de ativar o serviço de localização para explorar todos os recursos NowOn. </p>
                                </li>
                                <li class="col-right">
                                    <img src="/assets/images/imac-menor.png" alt="Desktop" width="258" height="216">
                                    <h5>desktop</h5>
                                    <p>Acesse o site www.nowon.com.br, faça o login pelo Facebook ou cadastre-se gratuitamente. <br><br>

                                        Pesquise pelos seus lugares preferidos, avalie as oportunidades, leia as indicações e compare os cardápios. <br><br>

                                        Adquira seu voucher e vá até o local. </p>
                                    </li>
                                </ul>
                            </div>

                            <div class="cadastre-vantagens">
                                <h6>Cadastre-se e saboreie as vantagens</h6>
                                <a href="/signin" class="btn btn-comece-agora" title="Comece agora"><span>Comece agora</span></a>
                                <div class="fb-like" data-href="http://www.facebook.com/nowonbrasil" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div>
                            </div>

                            <div class="logos-plataform">
                                <span class="logo-android">
                                    acesse no seu
                                    <b>android</b>
                                </span>

                                <span class="logo-smartphone">
                                    acesse no seu
                                    <b>iphone</b>
                                </span>

                                <span class="logo-desktop">
                                    acesse no seu
                                    <b>navegador</b>
                                </span>

                                <img src="/assets/images/logo-moip.png" alt="Moip" class="logo-moip" width="113" height="61">
                            </div>
                        </div>
                    </section>


                    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
                    <script>window.jQuery || document.write('<script src="../hotsite/javascripts/vendor/jquery-1.8.2.min.js"><\/script>')</script>
                    <script src="/assets/javascripts/slide.min.js"></script>
                    <script src="/assets/javascripts/modernizr-2.6.1.min.js"></script>
                    <script src="/assets/javascripts/plugins.js"></script>
                    <script src="/assets/javascripts/main.js"></script>

          <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
              </body>
              </html>
