<section id="footer">
	<div class="row pad-small">
	
		<div class="large-3 columns">
			<h6 class="footer-title">Traz Cupom</h6>
			
			<ul>
				<li><a href="/termos" class="scroll">Termos de uso</a></li>
				<li><a href="#gallery-scroll" class="scroll">Como Funciona</a></li>
				<li><a href="#pricing-scroll" class="scroll">Politica de privacidade</a></li>
				<li><a href="#faq-scroll" class="scroll">Blog</a></li>
				<li><a href="/fale-conosco" class="scroll">Contato</a></li>
                <li><a href="/p/signin" class="scroll">Área do Parceiro</a></li>
			</ul>
		</div>
		
		<div class="large-3 columns">
			<h6 class="footer-title">Quem somos</h6>
			
			<p>
				O Traz Cupom é um serviço inovador de guia comercial e cupons gratuitos para você. Com poucos cliques você consegue explorar sua cidade e desfrutar de inúmeros cupons de desconto.
		    </p>
		</div>
		
		<div class="large-3 columns">
			<h6 class="footer-title">Receba novidades</h6>
			
			<div class="details-error-wrap hide">Por favor insira um e-mail válido!</div>
			<input class="newsletter-email left" type="text" placeholder="Seu email" />
			<input class="newsletter-btn right btn btn-blue form-send" type="submit" value="Inscrever" />
			<div class="hide green-btn newsletter-btn right btn form-sent">Email Inscrito!</div>
			
		</div>
		
		<div class="large-3 columns text-right">
			<h6 class="footer-title">Contato</h6>
			<div class="mail-link">
				<i class="entypo mail text-white"></i>
				<a href="mailto:craiggarner800@gmail.com">contato@ifollowagencia.com.br</a>
				
			</div>
			<div class="footer-social">
				<a href="https://www.facebook.com/trazcupom" target="_blank"><i class="foundicon-facebook text-white"></i></a>
				<a href="http://www.twitter.com/trazcupom" target="_blank"><i class="foundicon-twitter text-white"></i></a>
			</div>
			<h4 class="footer-title text-white"><a href="http://www.ifollowagencia.com.br" target="_blank"><img src="/img/logoifollow.png"></a></h4>
			
		</div>
	
	</div>
</section>