<div style="width:100%; height:731.25px; padding-left:10px;">
<div id="fullscreen-wrapper" class="d" data-fullscreen="{&quot;size&quot;: {&quot;width&quot;: 960, &quot;height&quot;: 540}}" data-videoplayer="{&quot;src&quot;:&quot;http://c3432467.r67.cf0.rackcdn.com/monarch&quot;, &quot;youtubeIds&quot;:[&quot;2VAYXSN57b0&quot;, &quot;2bVYJ76qARY&quot;]}" style="left: 0px; top: -170px; width: 100%; height: 731.25px;">
               
            <video id="fullscreen" autoplay="">      <source src="http://c3432467.r67.cf0.rackcdn.com/monarch1.mp4" type="video/mp4">      <source src="http://c3432467.r67.cf0.rackcdn.com/monarch1.ogv" type="video/ogg">      <source src="http://c3432467.r67.cf0.rackcdn.com/monarch1.webm" type="video/webm">      <img src="http://c3432467.r67.cf0.rackcdn.com/monarch1.jpg" alt="Shopkick">    </video></div>    	

</div>