<% if request.xhr? %>
    <script>
        window.location = "/comofunciona"
    </script>
<% end %>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie7 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link type="text/css" rel="stylesheet" media="screen" href="/assets/stylesheets/normalize.min.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">

 <!-- <link rel="stylesheet" href="../hotsite/css/normalize.min.css">
    <link rel="stylesheet" href="../hotsite/css/main.css"> -->

    <title>Traz Cupom - O seu aplicativo de cupons</title>
</head>
<body>
    <!-- Facebook plugin -->
    <div id="fb-root"></div>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
            <![endif]-->

            <div class="wrapper-border"></div>
            <div class="wrapper">
                <header>
                  <div class="header-right">
                    <div style="margin:0;">
                      <img src="/assets/images/logo.png" width="500" height="350">
                    </div>
                      <h2 style="margin-bottom:0px; margin-top:-50px;">Encontre os melhores cupons <br>de sua cidade <span>e obtenha vantagens exclusivas</span>.</h2>
                      <center><a href="/signin" class="btn btn-comece-agora" title="Comece agora"><span>Ver cupons</span></a></center>
                      <div class="fb-like" data-href="http://www.facebook.com/pages/Traz-Cupom/452678541492507?fref=ts" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div>
                  </div>
                </header>
            </div>

            <section class="video-container">
                <div class="wrapper">
                    <h3>Confira nossos cupons</h3>
                    <div class="content-video">
                        <iframe width="940" height="530" src="http://www.youtube.com/embed/xFcUqjArU-U" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </section>

            <section class="description-app">
                <div class="wrapper">
                    <div class="onde-estiver">
                        <em>Fique de olho no que acontece perto de você</em>

                        <h4>Não somos <span>compra coletiva</span></h4>
                        <p>Basta levar o seu cupom até o estabelecimento e desfrutar sua vantagem.</p>


                    </div>

                   

                    <div class="clear"></div>

                    <div class="dica-amigo">
                        <h4><span>DICA DE</span> AMIGO</h4>
                        <p>Siga seus amigos, conheça os produtos e lugares que eles recomendam e acompanhe as novidades dos seus lugares preferidos.</p>
                    </div>

                   

                  

                    <div class="clear"></div>

                    <div class="quem-aderiu">
                        <h5>Parceiros</h5>
                        <div class="slides">
                            <div class="slides_container">
                                <ul>
                                    <li>
                                        <img src="/assets/images/logos/41.jpg" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/42.jpg" alt="Profile" width="100" height="80">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/43.jpg" alt="Profile" width="100" height="100">
                                    </li>

                                    <li class="last">
                                        <img src="/assets/images/logos/44.jpg" alt="Profile" width="100" height="100">
                                    </li>

                                </ul>
                                 <ul>
                                    <li>
                                        <img src="/assets/images/logos/37.jpg" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/38.jpg" alt="Profile" width="100" height="100">
                                    </li>

                                    <li>
                                        <img src="/assets/images/logos/39.jpg" alt="Profile" width="130" height="100">
                                    </li>

                                    <li class="last">
                                        <img src="/assets/images/logos/40.jpg" alt="Profile" width="120" height="120">
                                    </li>

                                </ul>

                            </div>
                        </div>

                    <!-- <ul class="bullet-slider">
                        <li><a href="javascript:;"></a></li>
                        <li><a href="javascript:;"></a></li>
                        <li><a href="javascript:;"></a></li>
                    </ul> -->
                </div>

             

                            <div class="cadastre-vantagens">
                                <h6>Cadastre-se, é rápido e fácil!</h6>
                                <a href="/signin" class="btn btn-comece-agora" title="Comece agora"><span>Começar</span></a>
                                <div class="fb-like" data-href="http://www.facebook.com/trazcupom" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div>
                            </div>

                            <div class="logos-plataform" style="margin-left:140px;">
                                <center>
                                <span class="logo-android">
                                    acesse no seu
                                    <b>android</b>
                                </span>

                                <span class="logo-smartphone">
                                    acesse no seu
                                    <b>iphone</b>
                                </span>

                                <span class="logo-desktop">
                                    acesse no seu
                                    <b>navegador</b>
                                </span>

                               </center>
                            </div>
                        </div>
                    </section>


                    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
                    <script>window.jQuery || document.write('<script src="../hotsite/javascripts/vendor/jquery-1.8.2.min.js"><\/script>')</script>
                    <script src="/assets/javascripts/slide.min.js"></script>
                    <script src="/assets/javascripts/modernizr-2.6.1.min.js"></script>
                    <script src="/assets/javascripts/plugins.js"></script>
                    <script src="/assets/javascripts/main.js"></script>

          <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
              </body>
              </html>
