<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <meta name="description" content="TrazCupom">
  <title>TrazCupom</title>
  <style type="text/css">
  body {
    background:#000;
    color: #fff;
    font-family: arial, sans-serif;
    font-size: 90%;
  }
  div.dialog {
    width: 75%;
    padding: 0 4em;
    margin: 4em auto 0 auto;
  }
  h1 {
    font-size: 12pt;
    color: #fff;
    line-height: 1.9em;
  }
  .top-home {
    display: block;
    width: 150px;
    height: 35px;
    text-indent: -9999px;
    background-image: url("/assets/web-sprite.png");
  }
  a,a:visited,a:active{
    color: #fff;
  }
  </style>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <a href="/" class="top-home web"></a>
	<br />
    <img src="/assets/images/logo.png" width="150" height="70">
    <h1>Route - Pagina não encontrada! :(</h1>
    <p>O endereço pode ter sido digitado incorretamente ou a página foi removida.</p>
	<a href="/"> Ir para a página inicial</a>
  </div>
</body>
</html>
