<div id="main-container" class="scrollable view-profile-establishment">
  <div id="main" class="clearfix">
    <div class="wrapper">
      <header>
        <h1 class="static-title">Política de Privacidade</h1>
      </header>
      <article>
        <h3>1. Nosso compromisso</h3>
        <p>Respeitamos a sua privacidade e garantimos o sigilo e a confidencialidade das informações que você nos fornece;</p>
      </article>

      <article>
        <h3>2. Cadastro</h3>
        <p>Para o cadastro, solicitamos o seu nome, endereço de email e senha para identificar a sua conta e facilitar a sua experiência de aquisição de cupons de desconto.
        Não compartilhe a sua senha de cadastro com outras pessoas. Em caso de uso não autorizado da senha, acesse imediatamente a área “Minha Conta”em Configurações, para alterar a sua senha;</p>
      </article>

      <article>
        <h3>3. Procedimento de compra</h3>
        <p>Para a aquisição de um cupom de desconto, solicitamos o endereço completo da fatura do seu cartão de crédito, os dados impressos no cartão de crédito e CPF por medida de segurança.
        Para facilitar a sua experiência de uso, armazemos estas informações com a sua autorização. Se desejar, você também pode cadastrar mais de um cartão de crédito para escolher o que melhor se adequa a cada compra.
        Para a sua tranquilidade e maior segurança, não armazenamos o código de segurança dos cartões de crédito cadastrados, ele será requisitado em toda compra no site;</p>
      </article>

      <article>
        <h3>4. Processamento e sigilo das informações</h3>
        <p>Adotamos diversas medidas para nos proteger contra o acesso, alteração, divulgação e destruição não autorizada de dados.
        Utilizamos uma avançada tecnologia de segurança, todo o trafego de dados é feito através de informações criptografadas, utilizando-se do certificado SSL (Secure Socket Layer), que garante uma compra 100% (cem por cento) segura.
        O ícone do cadeado fechado, localizado no canto superior tela, indica absoluta segurança da transmissão de dados durante as suas compras.
        Apenas alguns funcionários, obrigados por contrato a manter o sigilo e a confidencialidade das informações, tem acesso ao nosso sistema de armazenamento de dados pessoais.
        Não compartilhamos as suas informações com outras pessoas ou empresas não afiliadas. Apenas compartilhamos as suas informações por força de lei ou cumprimento de ordem judicial, ou ainda, para lhe oferecer produtos solicitados, requisitando, para tanto, a sua autorização.</p>
      </article>

      <article>
        <h3>5. Email</h3>
        <p>Não enviamos emails requisitando a confirmação de dados/cadastro com arquivos anexos executáveis (extensão exe, com, src, bat) ou links para downloads.
        O nosso email promocional possui o seguinte rementente: informativo@nowon.com.br.
        Já o email de entrega de cupons possui o seguinte remetente: cupons@nowon.com.br.
        Por sua vez, o nosso serviço de atendimento ao consumidor possui o seguinte remetente: atendimento@nowon.com.br.
        Os links dos nosso email levam direto para o nowon.com.br ou para o site de empresas parceiras;
        6. Remoçao de dados
        Você pode requisitar a remoção de seus dados armazenados a qualquer momento. Para tanto, basta enviar a sua solicitação para o seguinte email: atendimento@nowon.com.br;</p>
      </article>

      <article>
        <h3>6. Remoçao de dados</h3>
        <p>Você pode requisitar a remoção de seus dados armazenados a qualquer momento. Para tanto, basta enviar a sua solicitação para o seguinte email: atendimento@nowon.com.br;</p>
      </article>

      <article>
        <h3>7. Cookies</h3>
        <p>Utilizamos cookies para identificar usuários e aperfeiçoar a sua experiência de uso e de compra. Cookies são pequenos arquivos de dados transferidos do site para o seu computador, que não armazenam dados pessoais. Se desejar, você pode apagar os cookies existentes em seu computador através do seu navegador;</p>
      </article>

      <article>
        <h3>8. Alteração da Politica de Privacidade</h3>
        <p>Podemos alterar esta política de privacidade sem aviso prévio, mas as alterações não reduzirão os seus direitos sem o seu consentimento explícito. Todas as alterações serão publicadas pelo NowOn. As alterações mais significativas receberão um aviso de destaque no site e poderão ser reportadas por email. Arquivaremos as versões anteriores para fins de consulta;</p>
      </article>

      <article>
        <h3>9. Dúvidas e sugestões</h3>
        <p>Para dúvidas e sugestões, entre em contato conosco no atendimento@nowon.com.br.</p>
      </article>
    </div>
  </div>
  <!-- #main -->
</div>
<!-- #main-container -->

<div id="boxes">
  <!-- Não remova o div#mask, pois ele é necessário para preencher toda a janela -->
  <div id="mask" ontouchmove="blockMove(event)"></div>
</div>