<div id="main-container" class="scrollable view-profile-establishment">
  <div id="main" class="clearfix">
    <div class="wrapper">
      <header>
        <h1 class="static-title">Sobre</h1>
      </header>
      <p style="text-align: justify">Depois do grande sucesso que ocorreu nos anos 2000, que foram as compras coletivas, a nova mania do momento são os cupons grátis. Uma ideia que surgiu nos Estados Unidos e que está conquistando uma legião de consumidores no Brasil. Pensando nisso desenvolvemos o portal de cupons Traz Cupom.
O modelo de negócio é simples e baseia-se no anúncio de ofertas de empresas do varejo em forma de cupom na internet para quem acessar o site. De forma gratuita e simples é possível conferir as ofertas que estão rolando, e realizar o download do cupom, desfrutando assim de descontos em toda a cidade, como lanchonetes e entradas de cinema.

        <p style="text-align: justify"> É inédito, imediato, fácil de usar e muito prático. Participe e conheça as vantagens em ser Traz Cupom!</p>
        <br /><br /><p><strong>Parceiros que ja estão no Traz Cupom</strong></p>
        <a style="text-decoration: none;" href="https://www.facebook.com/BritoeMagnump?ref=br_rs" target="_BLANK">
          <img src="/assets/images/logos/37.jpg" width="85" >
        </a>
        <a style="text-decoration: none;" href="https://www.facebook.com/novalisboa?fref=ts" target="_BLANK">
          <img src="/assets/images/logos/41.jpg" width="185">
        </a>
        <a style="text-decoration: none;" href="#" target="_BLANK">
          <img src="/assets/images/logos/42.jpg" width="210">
        </a>
        <a style="text-decoration: none;" href="#">
          <img src="/assets/images/logos/44.jpg" width="85" >
        </a>
        <br />
      </div>
      <!-- #main -->
    </div>
    <!-- #main-container -->
  </div>
  <div id="boxes">
    <!-- Não remova o div#mask, pois ele é necessário para preencher toda a janela -->
    <div id="mask" ontouchmove="blockMove(event)"></div>
  </div>