<div id="main-container" class="scrollable view-profile-establishment">
  <div id="main" class="clearfix">
    <div class="wrapper">
      <header>
        <h1 class="static-title">Sobre</h1>
      </header>
      <p style="text-align: justify">O NowOn oferece um guia interativo e geolocalizado dos restaurantes, bares e cafés mais badalados da cidade, através do qual você pode compartilhar as boas experiências gastronomicas com os amigos ao recomendar estabelecimentos e produtos dos cardápios.
        <p style="text-align: justify">O NowOn também oferece vouchers para você garantir descontos que devem ser utilizados na mesma hora ou mesmo dia, de acordo o período indicado em cada oferta, sem precisar esperar por confirmações, validações ou solicitar reservas. Explore estabelecimentos e cardápios, adquira vouchers para economizar na hora de comer ou se divertir, compartilhe conosco as boas experiências e conte com a recomendação dos amigos na hora de escolher aonde ir ou o que comer ao se aventurar pela cidade.</p>
        <p style="text-align: justify"> Ao adquirir vouchers ou compartilhar as boas experiências com o NowOn, você ainda coleciona badges e conquista créditos para economizar ainda mais em suas próximas compras.</p>
        <p style="text-align: justify"> É inédito, imediato, fácil de usar e muito prático. Participe e conheça as vantagens em ser NowOn!</p>
        <br /><br /><p><strong>PARCEIROS E COLABORADORES</strong></p>
        <a style="text-decoration: none;" href="http://planb.com.br/" target="_BLANK">
          <img src="/assets/sobre-planb.png" width="85" >
        </a>
        <a style="text-decoration: none;" href="http://outravisao.com.br/" target="_BLANK">
          <img src="/assets/sobre-outravisao.png" width="185">
        </a>
        <a style="text-decoration: none;" href="http://marcoproducoes.com/home.html" target="_BLANK">
          <img src="/assets/sobre-marco.png" width="210">
        </a>
        <a style="text-decoration: none;" href="#">
          <img src="/assets/sobre-doitup.png" width="85" >
        </a>
        <br />
      </div>
      <!-- #main -->
    </div>
    <!-- #main-container -->
  </div>
  <div id="boxes">
    <!-- Não remova o div#mask, pois ele é necessário para preencher toda a janela -->
    <div id="mask" ontouchmove="blockMove(event)"></div>
  </div>