<div id="main-container" class="scrollable view-profile-establishment">
  <div id="main" class="clearfix">
    <div class="wrapper">
      <header>
        <h1 class="static-title">Termos de uso do site TrazCupom</h1>
      </header>
    <p>Termos e diretrizes de propaganda que entre si firmam, ANTONIO RICARDO FERREIRA DE SOUZA MEI inscrita no CNPJ sob número 13.323.882/0001-78, adiante denominado, simplesmente, Traz Cupom e, de outro lado, a todo e qualquer usuário, seja pessoa física ou jurídica, do serviço de Publicidade do Traz Cupom, prestado por meio do site http://www.trazcupom.com  ou do Aplicativo para Smartphones e Tablets, doravante designado EMPRESA PARCEIRA.

    O usuário deverá ler, entender e aceitar todas as condições estabelecidas neste Termo de Uso, assim como todos os documentos indexados ao mesmo por referência, antes de se cadastrar no site como usuário do Traz Cupom. A ACEITAÇÃO DO TERMO DE USO É INDISPENSÁVEL PARA A UTILIZAÇÃO DO SITE E SEUS SERVIÇOS.</p>

    <h3>1. Politicas Gerais</h3>
      <ul>
        <li>1.1 As atividades desenvolvidas pelo Traz Cupom são pautadas pela ética e pela conformidade com o ordenamento jurídico vigente.</li>

        <li>1.2 Os A segurança e confidencialidade dos dados do cliente estão asseguradas por meio desses termos.</li>

        <li>1.3 O serviço prestado pelo Traz Cupom envolve a criação e entrega de anúncios personalizados de ofertas com descontos de estabelecimentos comerciais para um determinado público-alvo. </li>

    <li>1.4 Os anúncios serão enviados aos usuários por meio de Cupons, que podem ser baixados por meio da internet, de forma gratuita.</li>

    <li>1.5. O atendimento e oferecimento dos descontos e a forma como será feita a entrega do produto e serviço são de responsabilidade do estabelecimento parceiro.</li>

    <li>1.6. O Traz Cupom se reserva o direito de alterar o presente Termo de Uso sem anúncio prévio, cabendo ao usuário o dever de verificar eventuais atualizações.</li>


    </ul>

    <h3>2. Objeto: Descrição dos Serviços e Condições de Uso</h3>
      <ul>
        <li>2.1 O objeto do presente Termo de Uso é a regulamentação da relação entre usuário e a Traz Cupom, incluindo a descrição e as condições de uso dos serviços oferecidos, os direitos e deveres das partes e as limitações de garantias e de responsabilidades.</li>

        <li>2.2 O Traz Cupom presta serviços de processamento de dados em seu site que consiste na disponibilização de cupons de desconto para serem utilizados no estabelecimento anunciante, conforme as regras e os procedimentos que o anunciante definir e se comprometer a cumprir, além da publicização de ofertas de caráter meramente informativo, que independem do uso de aparelho celular para usufruí-la e que são de responsabilidade exclusiva da empresa ofertante.</li>

        <li>2.3 Para o Usuário que acessar o site do Traz Cupom, o cupom de desconto será recebido em seu email ou smartphone, contanto que haja solicitação do usuário. Ao chegar no estabelecimento, o usuário deve apresentar o cupom para receber o desconto.</li>

        <li>2.4 O website www.trazcupom.com é o endereço que armazena os dados e anúncios de cupons das empresas parceiras.</li>

        <li>2.5. Ao usuário, haverá a liberdade de realizar downloads de cupons diferentes sem limites, ressalvado o caso de ser um cupom de uma mesma promoção, neste caso deve-se ter um prazo de 24 horas para outro download.</li>
        <li>2.6. Ao adquirir um cupom o Usuário estará aceitando todas as regras padrões e todas as regras específicas de cada campanha. Existe uma regra padrão para todos os cupons que é:</li>
        <li>a) Os cupons não são cumulativos. Só é permitido ao Usuário a utilização de um cupom por vez.</li>
        <li>2.7 É necessária conexão de internet por parte do Usuário.</li>
        <li>2.8 O website pode sofrer interrupções para que haja atualizações no produto.</li>
        <li>2.9 O Usuário cadastrado no Traz Cupom poderá receber notificações dos anúncios via email ou mídias sociais.</li>
        <li>2.10 O Usuário cadastrado no Traz Cupom poderá receber notificações dos anúncios via email ou mídias sociais.</li>
      </ul>

    <h3>3. Cadastro</h3>
      <ul>
        <li>3.1 O usuário precisará fazer um cadastro para poder baixar os cupons.</li>

        <li>3.2 O usuário fornecerá seus dados de forma verídica sob pena de responsabilização civil e/ou criminal.</li>
        <li>3.3 O usuário poderá atualizar seus dados quando necessário.</li>
        <li>3.4 O cadastro no site implica a aceitação dos termos presentes.</li>
        <li>3.5 Todos os dados que o usuário informar ao site serão usados única e exclusivamente para armazenamento no banco de dados do site e emissão dos cupons e não serão compartilhados com terceiros.</li>
      </ul>

    <h3>4. Licença e Limitações de Uso</h3>
      <ul>
          <li>4.1 Por meio deste Termo, o Traz Cupom concede ao usuário licença não exclusiva, intransferível e limitada para a utilização do site Traz Cupom com a finalidade epecífica de adquirir cupons de desconto.</li>

          <li>4.2 Todo o material publicado no site é protegido por direitos autorais e é de propriedade exclusiva do Traz Cupom e de seus anunciantes, ficando expressamente proibido ao Usuário:</li>

          <li>a) modificar, copiar, distribuir, transmitir, exibir, reproduzir, publicar, transferir, emprestar, alugar ou vender qualquer tipo de informação, software, produto ou serviço fornecidos pelo Traz Cupom.</li>

         <li>b) criar obras derivadas a partir das informações coletadas junto ao Traz Cupom;</li>

          <li>c) utilizar, de qualquer forma, técnicas de engenharia reversa para desenvolvimento ou criação de outros trabalhos com base no Traz Cupom;</li>

          <li>d) divulgar conteúdo ou arquivos sem autorização;</li>
           
          <li>e) liberar acesso a terceiros de forma ilícita.</li>
      </ul>
    <h3>5.  Isenção de Responsabilidade e de Garantias</h3>
      <ul>
        <li>5.1 O serviço fornecido pelo Traz Cupom é gratuito para o usuário e não há exigência de qualquer contraprestação deste. </li>

        <li>5.2 O Traz Cupom se isenta de toda e qualquer responsabilidade pelo não recebimento do cupom, mesmo que por falha de programação do site o qualquer outro motivo.</li>

        <li>5.3 A conduta do anunciante será de inteira responsabilidade do próprio, isentando o site Traz Cupom de conceder qualquer tipo de garantias por atendimentos insatisfatórios e/ou que incidam em reclamação por parte do usuário. </li>
         <li>5.4. O cumprimento das promoções oferecidas pelos anunciantes no site Traz Cupom, assim como qualquer tipo de anúncio e oferta oferecidos por aquele fora do site, serão de total responsabilidade do estabelecimento anunciante.</li>

         <li>5.5. O Traz Cupom não garante que o conteúdo, os instrumentos e os materiais contidos, utilizados e oferecidos estejam precisamente atualizados ou completos, bem como não se responsabiliza pelos danos causados por eventuais erros de conteúdo ou por lacunas nas informações prestadas.</li>

           <li>5.6. O Traz Cupom não se responsabiliza pelo uso indevido de informações e de materiais disponibilizados e/ou dos cupons oferecidos, para quaisquer que sejam os fins, por qualquer que seja o usuário, sendo de responsabilidade deste as consequências de tal uso.</li>

            <li>5.7. Eventuais publicações ou informações prestadas por terceiro no site Traz Cupom, com ou sem autorização, são de exclusiva responsabilidade do terceiro que as publicar. Da mesma forma, as informações prestadas por terceiro sobre o Traz Cupom, em qualquer que seja o meio de comunicação, não são de responsabilidade do Traz Cupom.</li>

            <li>5.8. Em nenhuma circunstância, o Traz Cupom, seus diretores ou seus funcionários serão responsáveis por quaisquer perdas, despesas ou danos diretos ou indiretos, especiais, incidentais ou de consequência, oriundos do mau funcionamento do site, ou do cupom de desconto, ou com relação a qualquer falha de desempenho, erro, omissão, interrupção, defeito na inserção de informação, ou demora na operação de efetivação do desconto nas empresas anunciantes, mesmo que o Traz Cupom ou seus representantes estejam avisados da possibilidade de tais perdas, despesas ou danos.</li>
      </ul>
    <h3>6. Disposições Finais</h3>
      <ul>
        <li>6.1 O presente Termo de Uso é regido e interpretado em conformidade com as leis do Brasil.</li>

        <li>6.2. Fica eleito o Foro da Comarca de Campo Grande para dirimir quaisquer controvérsias acerca do presente Termo de Uso que não puderem ser solucionadas de forma extrajudicial, com a exclusão de qualquer outro Foro, por mais privilegiado que possa ser.</li>
          
      </ul>
    
  </div>
  <!-- #main -->
</div>
<!-- #main-container -->
</div>
<div id="boxes">
  <!-- Não remova o div#mask, pois ele é necessário para preencher toda a janela -->
  <div id="mask" ontouchmove="blockMove(event)"></div>
</div>