<div id="main-container" class="scrollable view-profile-establishment">
  <div id="main" class="clearfix">
    <div class="wrapper">
      <header>
        <h1 class="static-title">Termos de uso do usuário</h1>
      </header>
    <p>Este Termo de Uso apresenta as condições gerais aplicáveis ao uso dos serviços oferecidos aos usuários pelo NowOn, site e aplicativo hospedado sob o domínio www.nowon.com.br, de propriedade da FunTech Serviços de Informática Ltda., sociedade regular, inscrita no CNPF/MF sob n 15.788.930/0001-29.

    O usuário deverá ler, entender e aceitar todas as condições estabelecidas neste Termo de Uso, assim como todos os documentos indexados ao mesmo por referência, antes de se cadastrar no site como usuário do NowOn. A ACEITAÇÃO DO TERMO DE USO É INDISPENSÁVEL PARA A UTILIZAÇÃO DO SITE E SEUS SERVIÇOS.</p>

    <h3>1. Objeto</h3>
      <ul>
        <li>1.1 Os serviços objeto do presente Termo de Uso consistem em disponibilizar aos usuários da internet cadastrados no site, informações relacionadas aos bares e restaurantes parceiros do NowOn, bem como cupons de descontos periódicos em produtos ofertados por estes parceiros.</li>

        <li>1.2 Os produtos são ofertados através do site, em nome do respectivo parceiro, juntamente com as informações e os requisitos necessários para a utilização dos cupons de desconto e a aquisição dos produtos em um determinado período do dia.</li>

        <li>1.3 A divulgação e a validade da promoção, a aquisição e o pagamento do cupom de desconto, bem como a entrega dos produtos ofertados ocorrerão de acordo as seguintes etapas:</li>
        <ul>
        <li>a) Divulgação: as promoções serão publicadas no NowOn para o conhecimento pelos usuários do seu período de validade e das específicas condições para a aquisição e utilização dos cupons de desconto, bem como para a entrega dos produtos pelos estabelecimentos parceiros.</li>

        <li>b) Validade: as promoções do NowOn são válidas apenas e tão somente para o período de horas indicado nos cupons de desconto, que deverão ser utilizados no mesmo dia em que foram adquiridos.</li>

        <li>c) Aquisição: o usuário que se interessar em adquirir uma promoção do NowOn deverá se manifestar no site durante o período de validade da oferta ou até se esgotarem a quantidade de cupons disponibilizados, após concordar com as condições de uso descritas na promoção, efetuando o pagamento requisitado.</li>

        <li>d) Pagamento: o usuário deverá pagar no site uma parte do valor da promoção para garantir o seu cupom, que o permitirá exigir o desconto do estabelecimento parceiro durante o prazo de validade da promoção. O restante do valor da promoção deverá ser pago diretamento ao estabelecimento parceiro, de acordo com as formas de pagamento por ele aceitas ou indicadas na própria promoção, após a entrega e utilização dos produtos ofertados. O ato de envio dos dados para o pagamento do valor cobrado pelo site não implica necessariamente na adquisição do cupom, tendo em vista a possibilidade de restrição por parte do intermediador financeiro, que checa e confere os dados fornecidos.</li>

        <li>e) Entrega dos produtos: aprovado o pagamento e concluída a compra do cupom de desconto, o usuário deverá se dirigir ao estabelecimento no horário de validade da oferta. Ao chegar ao estabelecimento, o usuário deverá apresentar o seu cupom impresso ao garçon, ou deverá realizar a ação “Validar Cupom” no respectivo cupom eletronico armazenado na área “Cupons Ativos” do menu “Compras”. Ao chegar ao estabelecimento e realizar a ação “Validar Cupom”, o usuário se apresentará ao garçon como usuário do NowOn, identificando-se pelo nome e sobrenome, para receber os produtos ofertados. O NowOn recomenda ao usuário não deixar para apresentar o cupom impresso ao garçon ou realizar a ação de “Validar Cupom” no cupom eletronico ao fechar a sua conta no estabelecimento, para não perder o desconto com o vencimento do horário de validade da promoção.</li>
      </ul>
    <li>1.4 Em nenhuma hipótese, o NowOn ou os estabelecimentos parceiros  reembolsam o valor pago ao site pelo cupom de desconto em caso de sua não validação ou utilização no horário indicado para a sua validade.</li>
    </ul>

    <h3>2. Créditos</h3>
      <ul>
        <li>2.1 O usuário ativo, aquele que realiza as ações sociais do sistema e/ou adquire cupons de desconto regularmente, é recompensado com créditos periodicamente, cujos valores variam de acordo com o tipo de ação realizada, que serão utilizados na aquisição de novos cupons de desconto.</li>

        <li>2.2 O usuário utilizará os créditos conquistados no sistema ao adquirir o seu próximo cupom de desconto. Se o crédito não for suficiente para pagar o valor do cupom desejado, o usuário pagará ao site apenas a sua diferença. Se o crédito for superior ao valor do cupom desejado, o usuário utilizará uma parte do crédito para adquirir o referido cupom e o saldo remanescente será utilizado na sua próxima compra.</li>

        <li>2.3 O usuário poderá gerenciar os créditos e acompanhar a sua utilização na área “Créditos” localizada no menu “Compras”.</li>
      </ul>

    <h3>3. Capacidade para se cadastrar no site</h3>
      <ul>
        <li>3.1 Apenas as pessoas que tenham capacidade legal podem se cadastrar no site, bem como contratar os serviços prestados pelo NowOn. Portanto, não podem utilizá-lo pessoas que não gozam dessa capacidade, inclusive menores de idade, ou pessoas que tenham sido inabilitadas pelo NowOn temporaria ou permanentemente.</li>

        <li>3.2 Os pais ou os representantes legais de menor de idade responderão pelos atos por ele praticados no site, destacando-se dentre eles, os danos causados a terceiros, práticas de atos vedados pela lei e por este Termo de Uso.</li>
      </ul>

    <h3>4. Cadastro e licença de uso</h3>
      <ul>
          <li>4.1 Para realizar o cadastro no site, o interessado deverá preencher todos os campos do cadastro ou logar no sistema pelo Facebook. O interessado deverá preencher o cadastro com informações exatas, precisas e verdadeiras, e assume o compromisso de atualizar estas informações sempre que ocorrer alguma alteração. O usuário também garante e responde pela veracidade, exatidão e autenticidade dos dados pessoais cadastrados.</li>

          <li>4.2 Não é permitido que uma mesma pessoa tenha mais de um cadastro no site. O NowOn inabilitará permanentemente todos os cadastros da pessoa que possuir cadastros duplicados. Também não é permitido a criação de novos cadastros por pessoas cujos cadastros originais tenham sido cancelados por infrações as regras do NowOn.</li>

          <li>4.3 O NowOn se reserva no direito de utilizar todos os meios válidos para identificar os seus usuários, bem como para solicitar outros dados e documentos que julgar pertinentes para o fim de conferir os dados pessoais informados.</li>

         <li>4.4 Caso se depare com dados cadastrais incorretos ou inverídicos, ou ainda, caso o usuário se recuse a fornecer os documentos solicitados, o NowOn poderá bloqueá-lo para a aquisição de novos cupons de desconto, ou ainda, suspender ou cancelar o seu cadastro, sem o prejuízo de outras medidas que entender necessárias.</li>

          <li>4.5 O usuário acessará a sua conta através de email e senha, comprometendo-se a não fornecer estes dados a terceiros, responsabilizando-se integralmente pelo uso que deles seja feito.</li>

          <li>4.6 O usuário se compromete a comunicar imediatamente o NowOn, através do email atendimento@nowon.com.br, o uso não autorizado de sua conta, bem como se ocorrer o acesso não autorizado por terceiro. O usuário é o único responsável pelas operações efetuadas em sua conta, já que o acesso a ela se dá por senha que só é conhecida pelo próprio usuário.</li>
           
          <li>4.7 O NowOn concede ao usuário uma licença de uso pessoal limitada, não exclusiva, transferível, revogável e por prazo determinado, de acordo com este Termo de Uso, a fim de compartilhar as boas experiências gastronômicas em nossa rede, bem como avaliar, mensurar e manifestar o interesse de adquirir as promoções veiculadas no site.</li>
      </ul>
    <h3>5. Privacidade das Informações</h3>
      <ul>
        <li>5.1 O NowOn adota todas as medidas de segurança para manter o sigilo e a confidencialidade das informações pessoais fornecidas ao site. Estas medidas incluem análises de práticas de coleta, armazenamento e processamento de dados, criptografia e medidas físicas apropriadas para a proteção contra o acesso não autorizado ao sistema. Porém, o NowOn não se responsabiliza pelos prejuízos eventualmente causados pela violação dessas medidas de segurança por terceiros.</li>

        <li>5.2 O NowOn utiliza o email do usuário para comunicar periodicamente promoções diárias selecionadas de acordo com o seu perfil de compra. O usuário pode solicitar a remoção do seu email da nossa lista de envio a qualquer momento, seja através do link disponível em nossos emails, ou através do email atendimento@nowon.com.br.</li>

        <li>5.3 Para obter maiores informações sobre o armazenamento de dados pessoais e sigilo das informações, confira a nossa “Política de Privacidade”.</li>
      </ul>
    <h3>6. Obrigações dos usuários</h3>
      <ul>
        <li>6.1 Sem o prejuízo das outras obrigações estabelecidas neste Termo de Uso, o usuário obriga-se:</li>
          <ul>
            <li>a) a não utilizar os conteúdos e produtos do site com a finalidade de desrespeitar a lei, a moral, os bons constumes, as normas de direito autoral e/ou propriedade industrial, ou os direitos à honra, à vida privada, à imagem, à intimidade pessoal e familiar.</li>

            <li>b) a não utilizar os serviços, conteúdos e produtos fornecidos para transmitir ou divulgar material ilegal, difamatório, que viole a privacidade de terceiros, ou que seja abusivo, ameaçador, obsceno, prejudicial, vulgar, injurioso, ou de qualquer outra forma censurável.</li>

            <li>c) a não divulgar ou fazer qualquer oferta comercial, religiosa, política, ou qualquer outra oferta mesmo sem fins comerciais, incluindo outros serviços que de qualquer forma possam competir com os serviços prestados pelo NowOn ou qualquer parceiro licenciado.</li>

            <li>d) a não obter ou tentar obter acesso não-autorizado aos sistemas ou redes de computadores conectados aos conteúdos e produtos do site, bem como a não interferir ou interromper os serviços, servidores ou redes conectados aos os serviços, conteúdos e produtos fornecidos por meio do site.</li>

            <li>e) a responsabilizar-se pelo conteúdo dos e-mails que vier a transmitir ou a retransmitir.</li>

            <li>f) a compartilhar apenas e tão somente boas experiências gastronômicas em nossa rede e a responsabilizar-se pelo conteúdo e informações que vier a publicar no perfil e cardápio dos estabelecimentos parceiros.</li>

            <li>g) a cumprir todos procedimentos, políticas, normas e regulamentos aplicáveis aos conteúdos e produtos do site, divulgados nas páginas e links de cada conteúdo/produto.</li>
          </ul>
      </ul>
    <h3>7. Penalidades e sanções</h3>
      <ul>
        <li>7.1 Sem o prejuízo de outras medidas, o NowOn poderá advertir, suspender ou cancelar a conta de um usuário, bem como adotar medidas legais cabíveis se o usuário:</li>
          <ul>
            <li>a) não cumprir qualquer dispositivo deste Termo de Uso.</li>

            <li>b) praticar atos fraudulentos ou dolosos.</li>

            <li>c) não permitir a sua exata identificação ou fornecer informações incorretas.</li>

            <li>d) causar dano ao NowOn, aos estabelecimentos parceiros ou a terceiros, ou apresentar o potencial de causar danos.</li>
          </ul>
          <li>7.2 As hipótese elencadas acima são meramente exemplificativas.</li>

          <li>7.3 Em caso de inabilitação do cadastro, os cupons adquiridos pelo usuário, válidos e pendentes de uso, serão automaticamente cancelados.</li>

          <li>7.4 O usuário indenizará o NowOn, suas filiais, empresas controladas ou controladoras, diretores, administradores, colaboradores, representantes e funcionários por qualquer ação promovida por outros usuários ou terceiros decorrentes de suas atividades no site, ou por seu descumprimento do Termo de Uso, ou por violação de qualquer lei, ou direitos de terceiros, incluindo honoários de advogados.</li>
      </ul>

    <h3>8. Responsabilidades</h3>
      <ul>
        <li>8.1 O NowOn não é o proprietário dos produtos ofertados pelos estabelecimentos parceiros, não guarda a posse deles e não comunica promoções em seu nome. O NowOn também não participa ou intervem na entrega dos produtos cujo desconto foi adquirido pelo site.</li>

        <li>8.2 O NowOn não se responsabiliza pela entrega, qualidade, estado, integridade ou legitimidade dos produtos ofertados pelos estabelecimentos parceiros, bem como não outorga garantia por vícios ocultos ou aparentes desses produtos.</li>

        <li>8.3 O NowOn também não se responsabiliza pela capacidade de contratar dos usuários ou pela veracidade dos dados pessoais cadastrados, bem como não se responsabiliza pelo efetivo cumprimento das obrigações assumidas pelos usuários.</li>

        <li>8.4 O usuário aceita que ao adquirir produtos dos estabelecimentos parceiros o faz por sua conta e risco, sendo certo que o NowOn não se responsabiliza por qualquer prejuízo ou dano que o usuário possa sofrer em virtude dos cupons de descontos aquiridos no site.</li>

        <li>8.5 O NowOn não se responsabiliza pela perda, roubo, danificação ou extravio do cupom digital ou impresso, após a sua disponibilização eletrônica ao usuário. O código alfanumérico indicado no cupom é o elemento identificador da adquisição do desconto perante o estabelecimento parceiro, sendo certo que a manutenção do seu sigilo e da sua segurança é de exclusiva responsabilidade do usuário.</li>

        <li>8.6 O NowOn recomenda que toda aquisição seja realizada com cautela e bom senso, apenas e tão somente se o usuário tiver condições de chegar ao estabelecimento parceiro no horário de validade do cupom de desconto. O usuário deve sempre sopesar os riscos da aquisição de cada cupom de desconto.</li>

        <li>8.7 O NowOn pode linkar outros sites mas isso não significa que o NowOn detem a propriedade ou opera esse sites. Não possuindo controle sobre estes sites, o NowOn não se responsabiliza por seus conteúdos, práticas e serviços oferecidos nos mesmos. A presença de links não implica relação de sociedade, supervisão, cumplicidade ou solidariedade do NowOn para com esses sites e seus conteúdos.</li>

        <li>8.8 O NowOn não se responsabiliza por quaisquer obrigações tributárias eventualmente incidentes sobre as atividades dos usuários e dos estabelecimentos parceiros.</li>

        <li>8.9 Tendo em vista a impossibilidade de funcionamento initerrupto de qualquer sistema de telecomunicação ou de informática, durante 365 (trezentos e sessenta e cinco) dias, 24 (vinte e quatro) horas por dia, o usuário reconhece que podem ocorrer interrupções no serviço por motivos alheios ao controle e a vontade do NowOn, que por esta razão, não se responsabiliza ou garante, de nenhuma forma, a prestação dos serviços de forma ininterrupta ou isenta de erros.</li>

        <li>9.0 O NowOn se reserva no direito de, a qualquer momento ou a seu exclusivo critério, descontinuar, suspender, terminar ou alterar a forma de acesso ao site com relação a qualquer conteúdo, período de disponibilidade de equipamentos necessários ao acesso ou utilização do site. O NowOn também possui o direito de descontinuar a disseminação de qualquer informação, alterar ou eliminar métodos de transmissão, alterar velocidade de transmissão de dados ou quaisquer outras características de sinal.</li>
        </ul>
    <h3>9. Alcance do Termo de Uso</h3>
      <ul>
        <li>9.1 O NowOn não assume qualquer contrato de sociedade, de mandato, franquia ou relação de trabalho com o usuário através do presente Termo de Uso.</li>

        <li>9.2 O usuário reconhece que o NowOn não faz parte de transação, nem possui o controle sobre a qualidade e a segurança dos produtos ofertados pelos estabelecimentos parceiros.</li>

        <li>9.3 O NowOn não garante a veracidade das informações publicadas pelos usuários, estabelecimentos parceiros ou por terceiros em seu site e não se responsabiliza pela correspondência ou contratos que o usuário realizar com terceiros ou diretamente com os estabelecimentos parceiros.</li>
      </ul>

    <h3>10. Equipamentos e capacitação técnica</h3>
      <ul>
        <li>10.1 O usuário é o único responsável por adquirir e realizar a manutenção do aparelho de telefone, computador e quaisquer outros equipamentos que venham a ser necessários ao perfeito acesso e uso do site. </li>

        <li>10.2 O NowOn não se responsabiliza por qualquer dano, prejuízo ou perda no equipamento do usuário causado por falhas no sistema, no servidor ou na internet decorrentes de condutas de terceiros. O NowOn também não será responsável por qualquer vírus que eventualmente atacar o equipamento utilizado pelo usuário para acessar o site ou em decorrência da transmissão de dados, arquivos, imagens, textos ou áudio.</li>

        <li>10.3 O usuário não poderá atribuir ao NowOn responsabilidade nem exigir o pagamento de indenização por prejuízos resultantes de dificuldades técnicas ou falhas no sistema ou internet.</li>
      </ul>
    <h3>11. Propriedade Intelectual</h3>
      <ul>
        <li>11.1 O NowOn é o proprietário da marca, nome empresarial, nome do domínio, bem como dos conteúdos das telas relativas aos serviços prestados, assim como programas, banco de dados, redes e arquivos, que permitem que o usuário acesse a sua conta, conteúdos que estão protegidos pelas leis e tratados internacionais de direito autoral, marcas, patentes, modelos e desenhos industriais. O uso ou a reprodução total ou parcial dos referidos conteúdos são proibidos, salvo se expressamente autorizados pelo NowOn.</li>
      </ul>

    <h3>12. Rescisão</h3>
      <ul>
        <li>12.1 O presente contrato é celebrado por prazo determinado, entrando em vigor na data de sua aceitação pelo usuário, a forma descrita neste Termo de Uso. O usuário poderá rescindir o presente contrato a qualquer tempo e independente de motivo, mediante solicitação a ser encaminhada para o atendimento@nowon.com.br, sem que isto gere o direito de haver indenização para qualquer das partes.</li>

        <li>12.2 Por sua vez, o NowOn poderá rescindir o presente contrato também independente de qualquer motivo ou aviso dirigido ao usuário, sem que isto gere para qualquer das partes o direito de haver da outra indenização ou qualquer outra quantia.</li>

        <li>12.3 O presente contrato será rescindido de pleno direito, podendo o NowOn cancelar imediatamente todos os serviços, conteúdos e produtos objetos do presente, se o usuário violar qualquer das suas obrigações ora previstas, sem o prejuízo do dever de indenizar o NowOn.</li>

        <li>12.4 O NowOn poderá suspender ou cancelar a conta do usuário se suspeitar que o mesmo está utilizando os serviços, conteúdos e produtos do site para a veiculação de imagens e fotografias associadas ou de qualquer forma relacionadas a pornografia infantil, idéias preconceituosas quanto à origem, raça, etnia, sexo, orientação sexual, cor, idade, crença religiosa ou quaisquer outras formas de discriminação, sem o prejuízo do dever do usuário de indenizar o NowOn, se comprovada a infração.</li>

        <li>12.5 Com o fim do contrato, por qualquer motivo, todos os serviços, conteúdos e produtos fornecidos de acordo com este Termo de Uso serão imediatamente interrompidos e cancelados, e todo e qualquer arquivo, conteúdo, informação ou dados armazenados pelo usuário, produtos e conteúdos serão apagados, sem que isto gere para o usuário direito de haver indenização do NowOn.</li>
      </ul>

    <h3>13. Alteração do Termo de Uso</h3>
      <ul>
        <li>13.1 O NowOn se reserva no direito de efetuar alterações no Termo de Uso sem a necessidade de notificar previamente o usuário. Portanto, o NowOn recomenda que o usuário releia este documento regularmente, para se informar sobre eventuais mudanças ocorridas.</li>

        <li>13.2 Em caso de mudança do Termo de Uso, se o usuário continuar utilizando o site, o contrato será considerado lido e aprovado pelo usuário. As alterações torna-se-ão válidas e eficazes a partir de sua publicação no site, sem a necessidade de qualquer aviso prévio ao usuário.</li>

        <li>13.3 Em qualquer hipótese, as alterações só serão válidas e aplicáveis para as futuras aquisições do usuário.</li>
      </ul>
    <h3>14. Base do negócio</h3>
      <ul>
        <li>14.1 O usuário concorda que as exclusões de garantias e limitações de responsabilidade definidas neste Termo de Uso refletem uma distribuição razoável e justa de riscos entre o usuário e o NowOn.</li>

        <li>14.2 O usuário também reconhece e concorda que o NowOn não poderia prestar os serviços oferecidos pelo site em uma base economicamente razoável sem tais limitações.</li>
      </ul>

    <h3>15. Foro e legislação aplicável</h3>
      <ul>
        <li>15.1 Este Termo de Uso está regido pela leis vigentes na República Federativa do Brasil.</li>
        <li>15.2 As partes elegem neste ato o Foro da Comarca de Belo Horizonte, para dirimir quaisquer questões oriundas do presente Termo de Uso, que não possam ser solucionadas de comum acordo entre as partes, com a exclusão de qualquer outro foro, por mais privilegiado que seja.</li>
      </ul>
  </div>
  <!-- #main -->
</div>
<!-- #main-container -->
</div>
<div id="boxes">
  <!-- Não remova o div#mask, pois ele é necessário para preencher toda a janela -->
  <div id="mask" ontouchmove="blockMove(event)"></div>
</div>