.values-list .value-number-credit a{
	text-decoration: none;
}



#info-pessoais-form, #info-password-form, #info-pic-form {
	display:none;
}


#warning-home-show{
	background-color: #faecad;
	font-size: 12px;
	padding: 10px 20px;
	letter-spacing: 0;
	line-height: 12px;
	cursor: pointer;
	color: #0070ed;
}

.no-decoration{
	text-decoration: none;
}


.fotoOferta{
	height: 78px;
	width: 319px;
}

.boxFotosPerfilBanner img{
}

.border_selected{
	border:solid 1px #F16529;
}


#error_explanation, .flash{
	font-size: 12px;
}

.link_dev{
	font-size: 13px;
}

.placeholder
{
  color: #aaa;
}

.field_with_errors { display: inline; }