<!DOCTYPE html>
<html>
<head>
  <title>Appcupom</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/intro.css">

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
